<tr>
    <td><%= index + 1 %></td>
    <td><%= tin.title %></td>
    <td><%= tin.desc %></td>
    <td><%= tin.idVideo %></td>
    <td><img src="./images/background/<%= tin.image %>" alt="" width="150"></td>
    <td>
        <a href="/xoa/<%= index %>">Xoa</a>
        <a href="/sua/<%= index %>">Sua</a>
    </td>
</tr>