<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="../">
        <title>Update</title>
    </head>
    <body>
        <form action="/update" method="post">
            <label ><strong>Update</strong></label><br>
            <input type="hidden" name="index" value="<%= t.index%>">
            <label>Title</label><br>
            <input type="text" name="title" value="<%= t.title%>">
            <br>
            <label>Desc</label><br>
            <input type="text" name="desc" value="<%= t.desc%>">
            <br>
            <label>idVideo</label><br>
            <input type="text" name="idVideo" value="<%= t.idVideo%>">
            <br>
            <label>image</label><br>
            <input type="text" name="image" value="<%= t.image%>">
            <br>
            <img src="images/background/<%= t.image%>" width="300">
            <input type="submit" name="submit" value="Submit">
        </form>

    </body>
</html>